<nz-table #basicTable [nzData]="bookings" [nzPageSize]="20" nzShowPagination="false" style="padding: 20px;">
  <thead>
    <tr>
      <th class="heading">Nama Client</th>
      <th class="heading">Ruangan</th>
      <th class="heading">Tanggal Boking</th>
      <th class="heading">Status</th>
      <th class="heading">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let booking of bookings">
      <td style="font-weight: 600;">{{ booking.userName }}</td>
      <td style="font-weight: 600;">{{ booking.serviceName }}</td>
      <td>{{ booking.bookDate | date : 'dd/MM/yyyy' }}</td>

      <!-- Kolom Status -->
      <td style="font-weight: 600;">
        <ng-container *ngIf="booking.reservationStatus === 'APPROVED'">
          Disetujui
        </ng-container>
        <ng-container *ngIf="booking.reservationStatus === 'REJECTED'">
          Kamar atau Ruangan Penuh
        </ng-container>
        <ng-container *ngIf="booking.reservationStatus === 'PENDING'">
          Pending
        </ng-container>
      </td>

      <!-- Kolom Action -->
      <td>
        <span *ngIf="booking.reservationStatus === 'PENDING'">
          <button nzSize="small" nz-button nzType="primary" style="margin-left: 10px;" (click)="changeBookingStatus(booking.id, 'APPROVE')">Diterima</button>
          <button nzSize="small" nz-button nzType="primary" nzDanger style="margin-left: 10px;" (click)="changeBookingStatus(booking.id, 'REJECTED')">Ditolak</button>
        </span>
      </td>
    </tr>
  </tbody>
</nz-table>
