<form nz-form [formGroup]="validateForm" (submit)="searchAdByName()" style="margin-top: 20px; margin-bottom: 20px; text-align:center;">
  <input nz-input placeholder=" Pencarian" formControlName="service" nzSize="large" style="width: 20%;" />
  <button nz-button nzSize="large" nz-button nzType="primary" style="margin-left: 15px;" [disabled]="validateForm.invalid">Search</button>
</form>



<div class="bg">
  <div style="margin-top: 10px;" class="child" *ngFor="let ad of ads">
    <div class="card" nz-row>
      <div nz-col nzSpan="24" class="content">
        <div class="img-container">
          <img class="profile" [src]="updateImg(ad.returnedImg)" />
        </div>
        <div class="text-container">
          <h1 style="cursor:pointer; color: #000;">{{ ad.serviceName }}</h1>
          <h4>Harga: {{ ad.price }}</h4>
          <p class="description">Deskripsi: {{ ad.description }}</p>
          <div class="card-buttons">
            <button nzSize="small" nz-button nzType="primary" routerLink="/client/ad/{{ ad.id }}">View</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
